.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 80px;
  outline: none;
  border: none;
  line-height: 1.3;
  font-weight: map-get($font-weight, regular);
  font-size: map-get($font-size, md);
  transition: background-color 0.25s;

  &.full-width {
    width: 100%;
  }

  &[disabled] {
    background-color: map-get($color, disabled) !important;
  }

  &-primary {
    background-color: map-get($color, primary) !important;

    &:hover {
      background-color: map-get($color, primary-hover);
    }
  }

  &-secondary {
    color: map-get($color, white);
    background-color: map-get($color, secondary) !important;

    &:hover {
      background-color: map-get($color, secondary-hover);
    }
  }

  &-sm {
    padding: 10px;
    font-weight: map-get($font-weight, light);
    font-size: map-get($font-size, sm);
  }
  &-xs {
    padding: 5px;
    font-weight: map-get($font-weight, light);
    font-size: map-get($font-size, xs);
  }
}
