.product-list {
  padding-top: 10px;
  padding-bottom: 40px;

  .row {
    margin-top: -40px;
  }
}

.btn-load-more {
  margin: 30px auto;
}

.product {
  position: relative;
  margin-top: 40px;
  box-shadow: 0px 3px 3px 3px #ededed;
  border-radius: 10px;
  overflow: hidden;

  &-badge {
    position: absolute;
    left: 10px;
    top: 10px;
    min-width: 60px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    height: 225px;
  }

  &-id {
    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, bold);
  }

  &-price-origin {
    margin-right: 10px;
    text-decoration: line-through;
    color: map-get($color, border);
    font-size: map-get($font-size, xl);
    font-weight: map-get($font-weight, bold);
  }

  &-price {
    font-weight: 600;
    color: map-get($color, error);
    font-size: map-get($font-size, xl);
    font-weight: map-get($font-weight, bold);
  }

  &-name {
    margin-top: 10px;
    font-size: map-get($font-size, sm);
  }

  &-status {
    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, bold);
  }

  &-actions {
    font-size: map-get($font-size, sm);
    align-items: center;
    justify-content: space-between;
  }

  &-love {
    width: 14px;
    height: 14px;
  }

  &-sold {
    margin-left: 8px !important;
  }
}
