.product-list {
  padding-top: 10px;
  padding-bottom: 40px;
}

.btn-load-more {
  margin: 30px auto;
}

.product {
  margin-top: 40px;
  box-shadow: 0px 3px 3px 3px #ededed;
  border-radius: 10px;
  overflow: hidden;

  &-info {
    padding: 10px;
    text-align: center;
  }

  &-id {
    font-size: map-get($font-size, md);
    font-weight: map-get($font-weight, bold);
  }

  &-price {
    padding: 5px 0;
    color: map-get($color, error);
    font-size: map-get($font-size, xl);
    font-weight: map-get($font-weight, bold);
  }

  &-name {
    margin-top: 10px;
  }

  &-status {
    font-size: map-get($font-size, lg);
    font-weight: map-get($font-weight, bold);
  }
}
