.product-view {
  padding: 30px 0;

  &-img {
    width: 470px;
    height: 470px;
  }

  &-name {
    margin-bottom: 12px;
    font-size: map-get($font-size, xxl);
    font-weight: map-get($font-weight, bold);
  }

  &-id {
    font-size: map-get($font-size, md);
  }

  &-price {
    color: map-get($color, error);
    font-size: map-get($font-size, xxxl);
    font-weight: map-get($font-weight, bold);
    margin-bottom: 5px;
  }

  &-status {
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid map-get($color, secondary);
    font-weight: map-get($font-weight, bold);
  }

  &-label {
    margin-bottom: 5px;
    font-size: map-get($font-size, lg);
  }

  &-options {
    display: flex;
    margin-bottom: 10px;
  }

  &-option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    user-select: none;

    .icon-check {
      position: absolute;
      right: -5px;
      top: -5px;
      color: map-get($color, error);
      display: none;
    }

    &.active {
      .icon-check {
        display: block;
      }
    }

    &.active {
      background-color: map-get($color, secondary);
      border-color: map-get($color, white);
      color: map-get($color, white);
    }

    button {
      font-size: map-get($font-size, sm);
      font-weight: map-get($font-weight, bold);
    }

    .color-label {
      width: 100%;
      height: 100%;
      border: 1px solid map-get($color, secondary);
    }

    .size-label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid map-get($color, secondary);

      &.disabled {
        background-color: map-get($color, white);
        border-color: map-get($color, disabled);
        color: map-get($color, disabled);
      }
    }
  }

  .choose-quantity {
    display: flex;
    align-items: center;

    .form-control {
      width: 60px;
      text-align: center;
    }
  }

  .btn-quantity {
    background-color: map-get($color, gray);
    padding: 10px 20px;
  }
}

.carousel {
  width: 100%;
  margin-top: 24px;

  .slick-arrow,
  .slick-arrow:hover {
    background-color: map-get($color, border);
    border-radius: 50%;
  }

  &-img {
    height: 100px;
    object-fit: cover;
    width: 100%;
  }
}
